<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"4.0rem","bottom":"4.0rem"}}},"className":"site-content"} -->
<main class="wp-block-group" style="margin-top:0;padding-top:4.0rem;padding-bottom:4.0rem">
    <!-- wp:pattern {"slug":"{fixrs}/posts"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->